{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
</style> 

<body style="background-color:lavender">
    <br>
    <br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto" style="margin-bottom:60px">
        <h2 style="font-family: Nunito;">Ask For Help</h2>
        <br>
        <br>
        {{ ckeditor.load() }}
        
        
        {{ ckeditor.config(name='body') }}
        

        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

      </div>
    </div>
  </div>
</body>
{% endblock %}