<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SocioPact - Home</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/css/fontAwesome.css">
    <link rel="stylesheet" href="static/css/light-box.css">
    <link rel="stylesheet" href="static/css/templatemo-style.css">

    <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body style="background-color:#232323;">

    <nav>
        <div class="logo">
            <a href="/index">Socio<em>Pact</em></a>
        </div>
        <div>
            <button onclick="window.location.href='/'" class="logo btn btn-lg btn-dark" style="color:black; float:right; margin-right:11rem; margin-top:1.75rem;">LOGOUT</button>
        </div>
        <div class="menu-icon">
            <span></span>
        </div>
    </nav>

    <div id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner"
                style="background-image: url(https://media.istockphoto.com/id/502451497/photo/dark-blue-aluminum-background.jpg?b=1&s=170667a&w=0&k=20&c=9SxDAN3Sl5V7_n9GcakkfF54G3U67tPnk7VkLa160Wk=);background-size: cover;">
                <h1 style="margin-bottom:4rem;">Welcome <em>{{user}}</em></h1>
             
                <span><a href="/tasks" style="text-decoration:none;font-size:25px;">Start helping your neighborhood!</a></span>
            
                <div class="scroll-icon">
                    <a class="scrollTo" data-scrollTo="portfolio" href="#"><img src="static/img/scroll-icon.png"
                            alt=""></a>
                </div>
            </div>
        </div>

    </div>

    <div id="portfolio">
    {% if tocomplete!={} %}
    <h3 style="color:white;margin:0;text-align:center; margin-top: 3.5rem;">Tasks To Complete</h3>
    <br>
    <br>
    {% for x in tocomplete: %}
    <div class="alert" style="background-color:rgb(122, 117, 110); text-align: center; margin-left:20px; margin-right:20px;" role="alert">
        <a style="text-decoration:none;color:black" href="{{url_for('onepost', post_id=tocomplete[x][2],ishome=True)}}">{{x}} - {{tocomplete[x][0]}}</a>
        <br>
        <a style="text-decoration:none;color:black">To know more about this task, email: <a style="color:white;text-decoration: underline;" href="mailto:{{tocomplete[x][0]}}?Subject={{x}}">{{tocomplete[x][1]}}</a></a>
    </div>
  
    {% endfor %}
    {% endif %}

    {% if completed!={} %}
    <h3 style="color:white;margin:0;text-align:center; margin-top: 3.5rem;">Completed Tasks</h3>
    <br>
    <br>
    {% for x in completed: %}
    <div class="alert" style="background-color:rgb(110, 122, 111); text-align: center; margin-left:20px; margin-right:20px;" role="alert">
        <a style="text-decoration:none;color:rgb(0, 0, 0)">{{x}} - {{completed[x]}}</a>
    </div>
  
    {% endfor %}
    {% endif %}

    {% if volunteeredfor!={} %}
    <h3 style="color:white;margin:0;text-align:center; margin-top: 3.5rem;">Tasks Volunteered For</h3>
    <br>
    <br>
    {% for x in volunteeredfor: %}
    <div class="alert" style="background-color:rgb(128, 163, 131); text-align: center; margin-left:20px; margin-right:20px;" role="alert">
        <a style="text-decoration:none;color:rgb(0, 0, 0)" href="{{url_for('onepost', post_id=volunteeredfor[x][3],ishome=True)}}">{{x}} - {{volunteeredfor[x][0]}}</a>
        <br>
        {% if volunteeredfor[x][1]==1 and volunteeredfor[x][2]!='' %}
        <a style="text-decoration:none;color:rgb(0, 0, 0)">Task Status: Finished</a>
        {% endif %}
        {% if volunteeredfor[x][1]==1 and volunteeredfor[x][2]=='' %}
        <a style="text-decoration:none;color:rgb(0, 0, 0)">Task Status: Archived</a>
        {% endif %}
        {% if volunteeredfor[x][2]=='' and volunteeredfor[x][1]==0 %}
        <a style="text-decoration:none;color:rgb(0, 0, 0)">Task Status: Active</a>
        {% endif %}
    </div>
  
    {% endfor %}
    {% endif %}

    {% if tocomplete=={} and completed=={} and volunteeredfor=={} %}
    <br>
    <br>
    <h4 style="color:rgb(150, 140, 140);text-align:center; margin-top: 3.5rem;"><i>Tasks you complete and volunteer for will show up here. Help people to earn points and level up!</i></h4>
    {% endif %}

</div>


<br>
<br>
<br>
    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2023 SocioPact</p>
            </div>
        </div>
    </footer>


    <!-- Modal button -->




    <section class="overlay-menu">
        <div class="container">
            <div class="row">
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="/index">Home</a>
                        </li>
                        <li>
                            <a href="/about">Stats</a>
                        </li>
                        <li>
                            <a href="/tasks">Neighborhood Tasks</a>
                        </li>
                        <li>
                            <a href="/myposts">Created Tasks</a>
                        </li>
                        <hr>
                        <li>
                            <a href="/new-post">Create A Task</a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="static/js/vendor/bootstrap.min.js"></script>

    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>

</body>

</html>