<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <title>SocioPact - My Posts</title>
    <!-- 

Highway Template

https://templatemo.com/tm-520-highway

-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/css/fontAwesome.css">
    <link rel="stylesheet" href="static/css/light-box.css">
    <link rel="stylesheet" href="static/css/templatemo-style.css">

    <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <!-- <style>
        .tooltip {
          position: relative;
          display: inline-block;
          border-bottom: 1px dotted black;
        }
        
        .tooltip .tooltiptext {
          visibility: hidden;
          width: 120px;
          background-color: black;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          bottom: 150%;
          left: 50%;
          margin-left: -60px;
        }
        
        .tooltip .tooltiptext::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: black transparent transparent transparent;
        }
        
        .tooltip:hover .tooltiptext {
          visibility: visible;
        }
    </style> -->



</head>



<body style="background-color: #232323;">

    <nav>
        <div class="logo">
            <a href="/">Socio<em>Pact</em></a>
        </div>
        <div class="menu-icon">
            <span></span>
        </div>
    </nav>

    <div class="page-heading">
        <div class="container">
            <div class="heading-content">
                <h1>My <em>Posts</em></h1>
            </div>
        </div>
    </div>
    <br>


    <div class="blog-entries">
        <div class="container">
            <div class="col-md-9">
                <div class="blog-posts">
                    <div class="row">

                        {% for post in all_posts %}
                        {% if post.author == now %}
                        {% if post.archived==0 %}

                        <div class="col-md-12">
                            <div class="blog-post">

                                <div class="text-content">
                                    <h3 style="color:white">{{post.date}} - {{post.title}}</h3>
                                    {% if post.response!=0 or post.accepted!='' %}
                                    <span>People offering help: </span>
                                    <br>
                                    <br>
                                    {% endif %}
                                    {% if post.response==0 and post.accepted=='' %}
                                    <span style="color:gray">No responses yet</span>


                                    {% endif %}

                                    <ol style="color:white; font-weight:300; list-style: none; padding-left: 0;">
                                        {% for x in range(post.response) %}
                                        <li>
                                        
                                            {{details[post.title][x]}} - Level {{everyone[details[post.title][x]][0]}},
                                            Points: {{everyone[details[post.title][x]][1]}}
                                            &nbsp;&nbsp;
                                            (Avg. Rating: {{everyone[details[post.title][x]][2]}})
                                            
                                            &nbsp; &nbsp; 
                                            <a style="color:#f4dd5b; display: inline-block;" class="removing" onclick="myfunction();" href="{{url_for('accepted', title=post.title, person=details[post.title][x]) }}">Accept</a>
                                            &nbsp; &nbsp; 
                                            <a style="color:#cf381d; display: inline-block;" class="removing"  href="{{url_for('deny', title=post.title, person=details[post.title][x]) }}">Deny</a></li>
                                        {% endfor %}


                                        {% for x in clicked[post.title].split() %}
                                        <li>{{x}} - <span style="color:grey">Accepted</span>&nbsp; &nbsp; <a
                                                style="color:#f4dd5b;"
                                                href="{{url_for('rating', name=x, title=post.title) }}">Done? Give
                                                Rating</a></li>

                                        {% endfor %}
                                    </ol>
                                    <br>
                                    <br>

                                    <a href="{{url_for('delete_post', post_id=post.id) }}">Archive Post</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% endfor %}

                        {% for post in all_posts %}
                        {% if post.author == now %}
                        {% if post.archived==1 %}
                        <div class="col-md-12">
                            <div class="blog-post">

                                <div class="text-content">
                                    <h3 style="color:white">{{post.date}} - {{post.title}}</h3>



                                    <a href="{{url_for('unarchive', post_id=post.id) }}">Unarchive This Post</a>
                                    <br>



                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2023 SocioPact</p>
            </div>
        </div>
    </footer>






    <section class="overlay-menu">
        <div class="container">
            <div class="row">
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="/index">Home</a>
                        </li>
                        <li>
                            <a href="/about">My Stats</a>
                        </li>
                        <li>
                            <a href="/blog">Neighborhood Tasks</a>
                        </li>
                        <li>
                            <a href="/blog">My Posts</a>
                        </li>
                        <hr>
                        <li>
                            <a href="/new-post">Create A Task</a>
                        </li>
                    </ul>
                    <p>Everyone Deserves A Great Neighbor</p>
                </div>
            </div>
        </div>
    </section>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="static/js/vendor/bootstrap.min.js"></script>

    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>
    <script>
        function myfunction() {
            window.alert('Successfully accepted.');
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.removing').click(function () {
                $(this).remove();
            });
        });
    </script>



</body>

</html>