<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SocioPact</title>
    <!-- 

Highway Template

https://templatemo.com/tm-520-highway

-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/css/fontAwesome.css">
    <link rel="stylesheet" href="static/css/light-box.css">
    <link rel="stylesheet" href="static/css/templatemo-style.css">

    <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body style="background-color:#232323;">

    <nav>
        <div class="logo">
            <a href="/">Socio<em>Pact</em></a>
        </div>
        <div style="float:right;">
            <button style="display:inline-block; margin-top:2rem;" class="btn btn-md btn-dark" onclick="window.location.href='/login'">LOGIN</button>
            <button style="display:inline-block; margin-top:2rem; margin-right:2rem; margin-left:2rem;"
                class="btn btn-md btn-dark" onclick="window.location.href='/signup'">SIGNUP</button>
        </div>
    </nav>

    <div id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner" style="background-image: url(https://media.istockphoto.com/id/502451497/photo/dark-blue-aluminum-background.jpg?b=1&s=170667a&w=0&k=20&c=9SxDAN3Sl5V7_n9GcakkfF54G3U67tPnk7VkLa160Wk=);background-size: cover;">
                <h1>Welcome</h1>
                <p>Sign up today to start making an impact in your neighborhood.</p>
                <div class="scroll-icon">
                    <a class="scrollTo" data-scrollTo="portfolio1" href="#"><img src="static/img/scroll-icon.png"
                            alt=""></a>
                </div>
            </div>
        </div>
      
    </div>

    <h3 style="color:white;margin:0;text-align:center; margin-top: 3.5rem;">What SocioPact Offers</h3>



    <div class="services" id="portfolio1">
        <div class="container">
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="static/img/service_6.png" alt="">
                    </div>
                    <div class="text">
                        <h4>Community Blog</h4>
                        <p>Your neighborhood has its own blog in which members can post tasks they would like help with.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="static/img/service_1.png" alt="">
                    </div>
                    <div class="text">
                        <h4>Volunteer Opportunities</h4>
                        <p>SocioPact teaches both children and adults about community service and offers valuable
                            opportunities.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="static/img/service_2.png" alt="">
                    </div>
                    <div class="text">
                        <h4>Quick Cash</h4>
                        <p>People of all ages can earn money helping around their neighborhood!</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="more-about-us">
        <div class="container">
            <div class="col-md-5 col-md-offset-7">
                <div class="content">
                    <h2>Be A Great Neighbor!</h2>
                    <br>
                    <br>
                    <p>Every time you help someone using SocioPact, you earn 10 points. Keep earning points to level up!
                        The higher your level, the more likely people needing help will choose you.
                        <br><br>After finishing a task, you and the person you helped give each other a rating. This
                        rating will determine how fast you level up.
                    </p>

                </div>
            </div>
        </div>
    </div>


    <h3 style="color:white;margin:0;text-align:center; margin-top: 3.5rem; margin-bottom: 3.5rem;">Get Started Today!
    </h3>

    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2023 SocioPact</p>
            </div>
        </div>
    </footer>


    <!-- Modal button -->
    

    <!-- Modal -->
    <div id="modal" class="modal">
        <!-- Modal Content -->
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="header-title"><em>Login To SocioPact</em></h3>
                <div class="close-btn"><img src="static/img/close_contact.png" alt=""></div>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <div class="col-md-6 col-md-offset-3">
                    <form id="contact" action="" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <input name="name" type="text" class="form-control" id="name"
                                        placeholder="Username" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <input name="password" class="form-control" id="password" type="password"
                                        placeholder="Password" required="">
                                </fieldset>
                            </div>
                            
                            <div class="col-md-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Login</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="modal2" class="modal2">
        <!-- Modal Content -->
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="header-title"><em>Sign Up</em></h3>
                <div class="close-btn"><img src="static/img/close_contact.png" alt=""></div>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <div class="col-md-6 col-md-offset-3">
                    <form id="contact" action="" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <input name="email" type="email" class="form-control" id="email"
                                        placeholder="Your Email" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <input name="address" type="text" class="form-control" id="address"
                                        placeholder="Your Address" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <input name="username" class="form-control" id="username" type="text"
                                        placeholder="Create Username" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <input name="password" class="form-control" id="password" type="password"
                                        placeholder="Create Password" required="">
                                </fieldset>
                            </div>
                            
                            <div class="col-md-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Sign Up</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    



    <section class="overlay-menu">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="static/js/vendor/bootstrap.min.js"></script>

    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>

</body>

</html>