<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SocioPact - Home</title>
<!-- 

Highway Template

https://templatemo.com/tm-520-highway

-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/css/fontAwesome.css">
        <link rel="stylesheet" href="static/css/light-box.css">
        <link rel="stylesheet" href="static/css/templatemo-style.css">

        <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body style="background-color:#232323;">

    <nav>
        <div class="logo">
            <a href="/">Socio<em>Pact</em></a>
        </div>
      <div class="menu-icon">
        <span></span>
      </div>
    </nav>

    <div id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner" style="background-image: url(https://media.istockphoto.com/id/502451497/photo/dark-blue-aluminum-background.jpg?b=1&s=170667a&w=0&k=20&c=9SxDAN3Sl5V7_n9GcakkfF54G3U67tPnk7VkLa160Wk=);background-size: cover;">
              <h1>Welcome <em>{{user}}</em></h1>
              <p>Start helping neighbors!</p>
                <div class="scroll-icon">
                    <a class="scrollTo" data-scrollTo="portfolio" href="#"><img src="static/img/scroll-icon.png" alt=""></a>
                </div>    
            </div>
        </div>
       
    </div>

    

<h3 style="color:white;margin:0;text-align:center; margin-top: 3.5rem;">Recommended For You</h3>


    <div class="grid-portfolio" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="static/img/big_portfolio_item_4.png" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Walk The Dog</h1>
                                    <p>Click For Details</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="static/img/myimg.jpg" hieght="600">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="static/img/big_portfolio_item_2.png" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Feed The Cat</h1>
                                    <p>Click For Details</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="https://static.vecteezy.com/system/resources/thumbnails/002/098/204/small/silver-tabby-cat-sitting-on-green-background-free-photo.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="static/img/big_portfolio_item_3.png" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Mow The Lawn</h1>
                                    <p>Click For Details</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="https://media.istockphoto.com/id/520135246/photo/mowing-the-grass.jpg?s=612x612&w=0&k=20&c=9ZlrazlneuDiU6Rdv9nYq0k_ZNoGwJ_JXTiE8djJGVc=">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="static/img/big_portfolio_item_1.png" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Car Wash</h1>
                                    <p>Click For Details</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="static/img/car.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="static/img/big_portfolio_item_5.png" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>CCTV Installation</h1>
                                    <p>Click For Details</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="static/img/camera.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="static/img/big_portfolio_item_6.png" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Wall Painting</h1>
                                    <p>Click For Details</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQM1SqZ62VQaQ-RSlcwfm9b2-JgYzyqCXimdw&usqp=CAU">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="static/img/big_portfolio_item_7.png" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>House Care</h1>
                                    <p>Click For Details</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8ZaQPXj_I6scKYM3OEiQOZELdimRbWJumYqSIR3T1no0kyJRKBrLsLI5HNkYELBraNuo&usqp=CAU">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="static/img/big_portfolio_item_8.png" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Yard Maintenance</h1>
                                    <p>Click For Details</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="https://media.istockphoto.com/id/1207240200/photo/house-in-the-park-green-lawn-front-yard-is-beautifully-designed-garden.jpg?s=612x612&w=0&k=20&c=9dksyfO56jc0ykcecpPo6hUHXErraIW-Mg0oUIR8i34=">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="static/img/big_portfolio_item_9.png" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Dog Care</h1>
                                    <p>Click For Details</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="https://paradepets.com/.image/t_share/MTkxMzY1Nzg4NjczMzIwNTQ2/cutest-dog-breeds-jpg.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="load-more-button">
                        <a href="#">Load More</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>


    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2023 SocioPact</p>
            </div>
        </div>
    </footer>


      <!-- Modal button -->
    

    

    <section class="overlay-menu">
        <div class="container">
          <div class="row">
            <div class="main-menu">
                <ul>
                    <li>
                        <a href="/index">Home</a>
                    </li>
                    <li>
                        <a href="/about">My Stats</a>
                    </li>
                    <li>
                        <a href="/blog">Neighborhood Tasks</a>
                    </li>
                    <li>
                        <a href="/myposts">My Posts</a>
                    </li>
                    <hr>
                    <li>
                        <a href="/new-post">Create A Task</a>
                    </li>
                </ul>
                <p>Everyone Deserves A Great Neighbor</p>
            </div>
          </div>
        </div>
      </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="static/js/vendor/bootstrap.min.js"></script>
    
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>

</body>
</html>