<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SocioPact - {{author}}'s' Tasks</title>
    <link rel="icon" type="image/x-icon" href="static/img/favicon.png">
    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="static/css/fontAwesome.css">
    <link rel="stylesheet" href="static/css/light-box.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css') }}">


    <link href="https://fonts.googleapis.com/css?family=Rubik:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

</head>

<body style="background-color: #232323;">

    <nav>
        <div class="logo">
            <a href="/index">Socio<em>Pact</em></a>
        </div>
        <div>
            <button onclick="window.location.href='/'" class="logo btn btn-lg btn-dark" style="color:black; float:right; margin-right:11rem; margin-top:1.75rem;">LOGOUT</button>
        </div>
        <div class="menu-icon">
            <span></span>
        </div>
    </nav>

    <div class="page-heading">
        <div class="container">
            <div class="heading-content">
                <h1>{{author}}'s <em>Tasks</em></h1>
            </div>
        </div>
    </div>


    <div class="blog-entries">
        <div class="container">
            <div class="col-md-9">
                <div class="blog-posts">
                    <div class="row">

                        {% for post in selected %}
                        
                            <div class="blog-post">
                                <div class="text-content">
                                    <span><a href="{{url_for('selection', author=post.author) }}">{{post.author}}</a> / <a href="#">{{post.date}}</a></span>
                                    <h2>{{post.title}}</h2>

                                    <p>{{post.body|safe}}
                                    </p>
                                    {% if post.author != now %}
                                        {% if now not in post.people and now not in post.accepted %}
                                            <div class="simple-btn">
                                                <a class="responsebtn" onclick="myfunction();"
                                                    href="{{url_for('volunteer', post_id=post.id) }}">Volunteer</a>
                                            </div>
                                        {% endif %}
                                        {% if now in post.people or now in post.accepted %}
                                        <div class="simple-btn">
                                            <p style="color:rgb(172, 149, 149);font-size:18px;">VOLUNTEERED</p>
                                        </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>


                            
                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2023 SocioPact</p>
            </div>
        </div>
    </footer>






    <section class="overlay-menu">
        <div class="container">
            <div class="row">
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="/index">Home</a>
                        </li>
                        <li>
                            <a href="/about">Stats</a>
                        </li>
                        <li>
                            <a href="/tasks">Neighborhood Tasks</a>
                        </li>
                        <li>
                            <a href="/myposts">Created Tasks</a>
                        </li>
                        <hr>
                        <li>
                            <a href="/new-post">Create A Task</a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="static/js/vendor/bootstrap.min.js"></script>

    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>
    <script>
        function myfunction() {
            window.alert('Succesfully volunteered');
        }
    </script>

</body>

</html>